/*Start top bar navigation*/
#header-nav {
    padding-bottom: 0;
}
.container-fluid {
    padding: 0;
}
.navbar-brand {
    padding: 8px 8px 15px 15px;
}
.navbar-nav {
    background-color: white;
}
.nav-item {
    border: 1px solid #6c757d;
}
.navbar-dark .navbar-nav .nav-link {
    color: #6c757d;
}
.nav-link:hover {
    background-color: #6c757d;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #c5ccd3;
}
/*End top bar navigation */

/*Start main content*/
#menu-title {
    padding: 25px;
}
#principal-text {
    position: relative;
    margin: 15px;
    border: 0.1px solid #6c757d;
    background-color: #6c757d;
}
#p1 {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid white;
    color: white;
    overflow: hidden;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #70a52a86;
    
}
#p2 {
    height: 1000px;
    margin: 50px;
    color: white;
    text-align: justify; 
}
#p3 {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 2px solid white;
    color: blue;
    
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #70a52a86;
    
}
/*End main content*/

/********** Large devices only **********/
@media (min-width: 1200px) {
    #principal-text {
        margin: 1px;
    }
}
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    #principal-text {
        margin: 1px;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #principal-text {
        margin: 5px;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    #principal-text {
        margin: 5px;
    }
}
